<div class="modal-header">
  <h5 class="modal-title">Crear sucursal</h5>
</div>
<div class="modal-body">

  <form>

    <div class="col-12">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Nombre sucursal</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Código sucursal</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Departamento</label>
            <select class="form-control"></select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Ciudad</label>
            <select class="form-control"></select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Dirección</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Teléfono</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Celular</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Correo electrónico</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Contacto</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Lista de precios</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Sucursal habilitación</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Estado operación</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Sucursal Rete ICA</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Centro de costos</label>
            <select class="form-control"></select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Empresa</label>
            <select class="form-control"></select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Formato impreso</label>
            <select class="form-control"></select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Leyenda factura</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Leyenda nota credito</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Leyenda nota debito</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Oberservación</label>
            <textarea class="form-control" cols="30" rows="4"></textarea>
          </div>
        </div>
      </div>

    </div>

  </form>

</div>
<div class="modal-footer">
  <div class="d-flex justify-content-end m-2">
    <button class="btn btn-icon btn-primary ml-3" [placement]="'top'" ngbTooltip="Guardar sucursal">
      <i class="fa fa-save"></i>
    </button>
  </div>
</div>
