# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.v2
*.cache
*.1
.vs/
*.v2
*.cache
*.vsidx
*.vsidx
*.cache
*.sentinel
*.config
*.v2
*.vsidx
*.lock
*.rar
*.zip

node_modules/**/*
node_modules/
dist/
.expo
npm-debug.*
package-lock.json
yarn.lock
*.jks
*.p12
*.p8
*.key
*.mobileprovision
.DS_Store

.vs/ApiFaktum/v17
ApiFaktum/.vs/ApiFaktum
ApiFaktum/ApiFaktum/bin/Debug/net7.0
ApiFaktum/ApiFaktum/obj/Debug/net7.0
ApiFaktum/ApiFaktum/obj
ApiFaktum/Commun/bin/Debug/net7.0
ApiFaktum/Commun/obj/Debug/net7.0
ApiFaktum/Commun/obj
ApiFaktum/DependencyInjection/bin/Debug/net7.0
ApiFaktum/DependencyInjection/obj/Debug/net7.0
ApiFaktum/DependencyInjection/obj
ApiFaktum/RepositoryLayer/bin/Debug/net7.0
ApiFaktum/RepositoryLayer/obj/Debug/net7.0
ApiFaktum/RepositoryLayer/obj
ApiFaktum/ServiceLayer/bin/Debug/net7.0
ApiFaktum/ServiceLayer/obj/Debug/net7.0
ApiFaktum/ServiceLayer/obj
ApiFaktum/.vs
ApiFaktum/ApiFaktum/obj
ApiFaktum/DependencyInjection/obj
ApiFaktum/RepositoryLayer/obj
ApiFaktum/ServiceLayer/obj
