# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.v2
*.cache
*.1
.vs/
*.v2
*.cache
*.vsidx
*.vsidx
*.cache
*.sentinel
*.config
*.v2
*.vsidx
*.lock
*.rar
*.zip

node_modules/**/*
node_modules/
dist/
.expo
npm-debug.*
package-lock.json
yarn.lock
*.jks
*.p12
*.p8
*.key
*.mobileprovision
.DS_Store

.vs/ApiFaktum/v17
ApiFaktum/.vs/ApiFaktum
ApiFaktum/ApiFaktum/bin/Debug/net7.0
ApiFaktum/ApiFaktum/obj/Debug/net7.0
ApiFaktum/ApiFaktum/obj
ApiFaktum/Commun/bin/Debug/net7.0
ApiFaktum/Commun/obj/Debug/net7.0
ApiFaktum/Commun/obj
ApiFaktum/DependencyInjection/bin/Debug/net7.0
ApiFaktum/DependencyInjection/obj/Debug/net7.0
ApiFaktum/DependencyInjection/obj
ApiFaktum/RepositoryLayer/bin/Debug/net7.0
ApiFaktum/RepositoryLayer/obj/Debug/net7.0
ApiFaktum/RepositoryLayer/obj
ApiFaktum/ServiceLayer/bin/Debug/net7.0
ApiFaktum/ServiceLayer/obj/Debug/net7.0
ApiFaktum/ServiceLayer/obj
ApiFaktum/.vs
ApiFaktum/ApiFaktum/obj
ApiFaktum/DependencyInjection/obj
ApiFaktum/RepositoryLayer/obj
ApiFaktum/ServiceLayer/obj

ApiFaktum/.vs
ApiFaktum/ApiFaktum/bin
ApiFaktum/ApiFaktum/obj
ApiFaktum/DependencyInjection/bin
ApiFaktum/DependencyInjection/obj
ApiFaktum/DomainLayer/bin
ApiFaktum/DomainLayer/obj
ApiFaktum/RepositoryLayer/bin
ApiFaktum/RepositoryLayer/obj
ApiFaktum/ServiceLayer/bin
ApiFaktum/ServiceLayer/obj
ApiFaktum/.vs/ApiFaktum/DesignTimeBuild/.dtbcache.v2
ApiFaktum/.vs/ApiFaktum/v17/.suo
ApiFaktum/ApiFaktum/bin/Debug/net7.0/ApiFaktum.dll
ApiFaktum/ApiFaktum/bin/Debug/net7.0/ApiFaktum.pdb
ApiFaktum/ApiFaktum/bin/Debug/net7.0/DependencyInjection.dll
ApiFaktum/ApiFaktum/bin/Debug/net7.0/DependencyInjection.pdb
ApiFaktum/ApiFaktum/bin/Debug/net7.0/DomainLayer.dll
ApiFaktum/ApiFaktum/bin/Debug/net7.0/DomainLayer.pdb
ApiFaktum/ApiFaktum/bin/Debug/net7.0/RepositoryLayer.dll
ApiFaktum/ApiFaktum/bin/Debug/net7.0/RepositoryLayer.pdb
ApiFaktum/ApiFaktum/bin/Debug/net7.0/ServiceLayer.dll
ApiFaktum/ApiFaktum/bin/Debug/net7.0/ServiceLayer.pdb
ApiFaktum/ApiFaktum/obj/Debug/net7.0/ApiFaktum.csproj.AssemblyReference.cache
ApiFaktum/ApiFaktum/obj/Debug/net7.0/ApiFaktum.dll
ApiFaktum/ApiFaktum/obj/Debug/net7.0/ApiFaktum.pdb
ApiFaktum/DependencyInjection/bin/Debug/net7.0/DependencyInjection.dll
ApiFaktum/DependencyInjection/bin/Debug/net7.0/DependencyInjection.pdb
ApiFaktum/DependencyInjection/bin/Debug/net7.0/DomainLayer.dll
ApiFaktum/DependencyInjection/bin/Debug/net7.0/DomainLayer.pdb
ApiFaktum/DependencyInjection/bin/Debug/net7.0/RepositoryLayer.dll
ApiFaktum/DependencyInjection/bin/Debug/net7.0/RepositoryLayer.pdb
ApiFaktum/DependencyInjection/bin/Debug/net7.0/ServiceLayer.dll
ApiFaktum/DependencyInjection/bin/Debug/net7.0/ServiceLayer.pdb
ApiFaktum/DependencyInjection/obj/Debug/net7.0/DependencyInjection.csproj.AssemblyReference.cache
ApiFaktum/DependencyInjection/obj/Debug/net7.0/DependencyInjection.dll
ApiFaktum/DependencyInjection/obj/Debug/net7.0/DependencyInjection.pdb
ApiFaktum/DomainLayer/bin/Debug/net7.0/DomainLayer.dll
ApiFaktum/DomainLayer/bin/Debug/net7.0/DomainLayer.pdb
ApiFaktum/DomainLayer/obj/Debug/net7.0/DomainLayer.dll
ApiFaktum/DomainLayer/obj/Debug/net7.0/DomainLayer.pdb
ApiFaktum/DomainLayer/obj/Debug/net7.0/ref/DomainLayer.dll
ApiFaktum/DomainLayer/obj/Debug/net7.0/refint/DomainLayer.dll
ApiFaktum/RepositoryLayer/bin/Debug/net7.0/DomainLayer.dll
ApiFaktum/RepositoryLayer/bin/Debug/net7.0/DomainLayer.pdb
ApiFaktum/RepositoryLayer/bin/Debug/net7.0/RepositoryLayer.dll
ApiFaktum/RepositoryLayer/bin/Debug/net7.0/RepositoryLayer.pdb
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/RepositoryLayer.csproj.AssemblyReference.cache
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/RepositoryLayer.csproj.CoreCompileInputs.cache
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/RepositoryLayer.dll
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/RepositoryLayer.pdb
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/ref/RepositoryLayer.dll
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/refint/RepositoryLayer.dll
ApiFaktum/ServiceLayer/bin/Debug/net7.0/DomainLayer.dll
ApiFaktum/ServiceLayer/bin/Debug/net7.0/DomainLayer.pdb
ApiFaktum/ServiceLayer/bin/Debug/net7.0/RepositoryLayer.dll
ApiFaktum/ServiceLayer/bin/Debug/net7.0/RepositoryLayer.pdb
ApiFaktum/ServiceLayer/bin/Debug/net7.0/ServiceLayer.dll
ApiFaktum/ServiceLayer/bin/Debug/net7.0/ServiceLayer.pdb
ApiFaktum/ServiceLayer/obj/Debug/net7.0/ServiceLayer.csproj.AssemblyReference.cache
ApiFaktum/ServiceLayer/obj/Debug/net7.0/ServiceLayer.dll
ApiFaktum/ServiceLayer/obj/Debug/net7.0/ServiceLayer.pdb
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/RepositoryLayer.csproj.AssemblyReference.cache
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/RepositoryLayer.csproj.CoreCompileInputs.cache
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/RepositoryLayer.dll
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/RepositoryLayer.pdb
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/ref/RepositoryLayer.dll
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/refint/RepositoryLayer.dll
ApiFaktum/ServiceLayer/bin/Debug/net7.0/DomainLayer.dll
ApiFaktum/ServiceLayer/bin/Debug/net7.0/DomainLayer.pdb
ApiFaktum/ServiceLayer/bin/Debug/net7.0/RepositoryLayer.dll
ApiFaktum/ServiceLayer/bin/Debug/net7.0/RepositoryLayer.pdb
ApiFaktum/ServiceLayer/bin/Debug/net7.0/ServiceLayer.dll
ApiFaktum/ServiceLayer/bin/Debug/net7.0/ServiceLayer.pdb
ApiFaktum/ServiceLayer/obj/Debug/net7.0/ServiceLayer.csproj.AssemblyReference.cache
ApiFaktum/ServiceLayer/obj/Debug/net7.0/ServiceLayer.dll
ApiFaktum/ServiceLayer/obj/Debug/net7.0/ServiceLayer.pdb
ApiFaktum/.vs/ApiFaktum/DesignTimeBuild/.dtbcache.v2
ApiFaktum/.vs/ApiFaktum/v17/.suo
ApiFaktum/ApiFaktum/bin/Debug/net7.0/ApiFaktum.dll
ApiFaktum/ApiFaktum/bin/Debug/net7.0/ApiFaktum.pdb
ApiFaktum/ApiFaktum/bin/Debug/net7.0/DependencyInjection.dll
ApiFaktum/ApiFaktum/bin/Debug/net7.0/DependencyInjection.pdb
ApiFaktum/ApiFaktum/bin/Debug/net7.0/DomainLayer.dll
ApiFaktum/ApiFaktum/bin/Debug/net7.0/DomainLayer.pdb
ApiFaktum/ApiFaktum/bin/Debug/net7.0/RepositoryLayer.dll
ApiFaktum/ApiFaktum/bin/Debug/net7.0/RepositoryLayer.pdb
ApiFaktum/ApiFaktum/bin/Debug/net7.0/ServiceLayer.dll
ApiFaktum/ApiFaktum/bin/Debug/net7.0/ServiceLayer.pdb
ApiFaktum/ApiFaktum/obj/Debug/net7.0/ApiFaktum.csproj.AssemblyReference.cache
ApiFaktum/ApiFaktum/obj/Debug/net7.0/ApiFaktum.dll
ApiFaktum/ApiFaktum/obj/Debug/net7.0/ApiFaktum.pdb
ApiFaktum/DependencyInjection/bin/Debug/net7.0/DependencyInjection.dll
ApiFaktum/DependencyInjection/bin/Debug/net7.0/DependencyInjection.pdb
ApiFaktum/DependencyInjection/bin/Debug/net7.0/DomainLayer.dll
ApiFaktum/DependencyInjection/bin/Debug/net7.0/DomainLayer.pdb
ApiFaktum/DependencyInjection/bin/Debug/net7.0/RepositoryLayer.dll
ApiFaktum/DependencyInjection/bin/Debug/net7.0/RepositoryLayer.pdb
ApiFaktum/DependencyInjection/bin/Debug/net7.0/ServiceLayer.dll
ApiFaktum/DependencyInjection/bin/Debug/net7.0/ServiceLayer.pdb
ApiFaktum/DependencyInjection/obj/Debug/net7.0/DependencyInjection.csproj.AssemblyReference.cache
ApiFaktum/DependencyInjection/obj/Debug/net7.0/DependencyInjection.dll
ApiFaktum/DependencyInjection/obj/Debug/net7.0/DependencyInjection.pdb
ApiFaktum/DomainLayer/bin/Debug/net7.0/DomainLayer.dll
ApiFaktum/DomainLayer/bin/Debug/net7.0/DomainLayer.pdb
ApiFaktum/.vs/ApiFaktum/v17/.suo
ApiFaktum/ApiFaktum/obj/Debug/net7.0/ApiFaktum.csproj.AssemblyReference.cache
ApiFaktum/DependencyInjection/obj/Debug/net7.0/DependencyInjection.csproj.AssemblyReference.cache
ApiFaktum/RepositoryLayer/obj/Debug/net7.0/RepositoryLayer.csproj.AssemblyReference.cache
ApiFaktum/ServiceLayer/obj/Debug/net7.0/ServiceLayer.csproj.AssemblyReference.cache
