<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" [options]="false">

      <div class="d-flex align-items-center justify-content-between" role="button">
        <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="empresaCollapsed = !empresaCollapsed" [attr.aria-expanded]="!empresaCollapsed" aria-controls="collapseEmpresa">
          <h5 class="font-weight-bold mb-0">Empresa</h5>
          <i class="fa" [ngClass]="{'fa-chevron-up': empresaCollapsed, 'fa-chevron-down': !empresaCollapsed }"></i>
        </div>

      </div>

        <hr>

        <div id="collapseEmpresa" [ngbCollapse]="empresaCollapsed">

          <div class="d-flex flex-row justify-content-end" *ngIf="!edicionEmpresa">
            <button class="btn btn-icon btn-primary" [placement]="'top'" ngbTooltip="Editar" (click)="editarForm()">
              <i class="fa fa-edit"></i>
            </button>
          </div>

          <form [formGroup]="empresaFormGroup" class="d-flex flex-column">
            <div class="col-12">

              <div class="row">

                <div class="col-md-4">

                  <div class="form-group">
                    <label for="">Nombre empresa</label>
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre empresa"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.nombre.invalid &&
                        empresaFormGroup.controls.nombre.touched
                    }">
                    <div class="invalid-feedback"> {{ nombreErrorMensaje }} </div>
                  </div>

                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Nit</label>
                    <input formControlName="nit" type="text" class="form-control" placeholder="nit"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.nit.invalid &&
                        empresaFormGroup.controls.nit.touched
                    }">
                    <div class="invalid-feedback"> {{ nitErrorMensaje }} </div>
                  </div>

                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>DV</label>
                    <input formControlName="dv" type="text" class="form-control" placeholder="digito verificación"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.dv.invalid &&
                        empresaFormGroup.controls.dv.touched
                    }">
                    <div class="invalid-feedback"> {{ dvErrorMensaje }} </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Departamento</label>
                    <select formControlName="departamento" class="form-control" (change)="cargarCiudadesDepto($event.target.value)"
                    [ngClass]="{
                      'is-invalid':
                      empresaFormGroup.controls.departamento.invalid &&
                      empresaFormGroup.controls.departamento.touched
                    }">
                      <ng-container *ngFor="let item of listDeptos">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                    <div class="invalid-feedback"> {{ departamentoErrorMensaje }} </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Ciudad</label>
                    <select formControlName="ciudad" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                      empresaFormGroup.controls.ciudad.invalid &&
                      empresaFormGroup.controls.ciudad.touched
                    }">
                      <ng-container *ngFor="let item of listCiudades">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                    <div class="invalid-feedback"> {{ ciudadErrorMensaje }} </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Dirección</label>
                    <input formControlName="direccion" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.direccion.invalid &&
                        empresaFormGroup.controls.direccion.touched
                    }">
                    <div class="invalid-feedback"> {{ direccionErrorMensaje }} </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Teléfono</label>
                    <input formControlName="telefono" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.telefono.invalid &&
                        empresaFormGroup.controls.telefono.touched
                    }">
                    <div class="invalid-feedback"> {{ telefonoErrorMensaje }} </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Correo electrónico</label>
                    <input formControlName="correo" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.correo.invalid &&
                        empresaFormGroup.controls.correo.touched
                    }">
                    <div class="invalid-feedback"> {{ correoErrorMensaje }} </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Sitio web</label>
                    <input formControlName="paginaWeb" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.paginaWeb.invalid &&
                        empresaFormGroup.controls.paginaWeb.touched
                    }">
                    <div class="invalid-feedback"> {{ paginaWebErrorMensaje }} </div>
                  </div>

                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Nombre representante legal</label>
                    <input formControlName="repLegal" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.repLegal.invalid &&
                        empresaFormGroup.controls.repLegal.touched
                    }">
                    <div class="invalid-feedback"> {{ repLegalErrorMensaje }} </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Documento representante legal</label>
                    <input formControlName="docRepLegal" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.docRepLegal.invalid &&
                        empresaFormGroup.controls.docRepLegal.touched
                    }">
                    <div class="invalid-feedback"> {{ docRepLegalErrorMensaje }} </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Contacto empresa</label>
                    <input formControlName="contacto" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.contacto.invalid &&
                        empresaFormGroup.controls.contacto.touched
                    }">
                    <div class="invalid-feedback"> {{ contactoErrorMensaje }} </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Empresa CIUU</label>
                    <input formControlName="empreCiuu" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.empreCiuu.invalid &&
                        empresaFormGroup.controls.empreCiuu.touched
                    }">
                    <div class="invalid-feedback"> {{ empreCiuuErrorMensaje }} </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Localidad empresa</label>
                    <input formControlName="empreLocalidad" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.empreLocalidad.invalid &&
                        empresaFormGroup.controls.empreLocalidad.touched
                    }">
                    <div class="invalid-feedback"> {{ empreLocalidadErrorMensaje }} </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Regimen empresa</label>
                    <select formControlName="regimenId" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.regimenId.invalid &&
                        empresaFormGroup.controls.regimenId.touched
                    }">
                      <ng-container *ngFor="let item of ListRegEmpresa">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                    <div class="invalid-feedback"> {{ regimenIdErrorMensaje }} </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Recepción</label>
                    <input formControlName="recepcion" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.recepcion.invalid &&
                        empresaFormGroup.controls.recepcion.touched
                    }">
                    <div class="invalid-feedback"> {{ recepcionErrorMensaje }} </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Porcentaje retención ICA</label>
                    <input formControlName="porcRetIca" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.porcRetIca.invalid &&
                        empresaFormGroup.controls.porcRetIca.touched
                    }">
                    <div class="invalid-feedback"> {{ porcRetIcaErrorMensaje }} </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Responsable fiscal</label>
                    <select formControlName="respFiscalId" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.respFiscalId.invalid &&
                        empresaFormGroup.controls.respFiscalId.touched
                    }">
                      <ng-container *ngFor="let item of listRespFiscal">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                    <div class="invalid-feedback"> {{ respFiscalIdErrorMensaje }} </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Responsable tributario</label>
                    <select formControlName="respTributId" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.respTributId.invalid &&
                        empresaFormGroup.controls.respTributId.touched
                    }">
                      <ng-container *ngFor="let item of listRespTributaria">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                    <div class="invalid-feedback"> {{ respTributIdErrorMensaje }} </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Tipo cliente</label>
                    <select formControlName="tipoClienteId" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.tipoClienteId.invalid &&
                        empresaFormGroup.controls.tipoClienteId.touched
                    }">
                      <ng-container *ngFor="let item of listTipoCliente">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                    <div class="invalid-feedback"> {{ tipoClienteIdErrorMensaje }} </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Factura contador</label>
                    <input formControlName="emprFactContador" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.emprFactContador.invalid &&
                        empresaFormGroup.controls.emprFactContador.touched
                    }">
                    <div class="invalid-feedback"> {{ emprFactContadorErrorMensaje }} </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Leyenda en factura</label>
                    <input formControlName="leyEnFactura" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.leyEnFactura.invalid &&
                        empresaFormGroup.controls.leyEnFactura.touched
                    }">
                    <div class="invalid-feedback"> {{ leyEnFacturaErrorMensaje }} </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Leyenda en nota credito</label>
                    <input formControlName="leyEnNotaCredito" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.leyEnNotaCredito.invalid &&
                        empresaFormGroup.controls.leyEnNotaCredito.touched
                    }">
                    <div class="invalid-feedback"> {{ leyEnNotaCreditoErrorMensaje }} </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Leyenda en noda debito</label>
                    <input formControlName="leyEnNotaDebito" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.leyEnNotaDebito.invalid &&
                        empresaFormGroup.controls.leyEnNotaDebito.touched
                    }">
                    <div class="invalid-feedback"> {{ leyEnNotaDebitoErrorMensaje }} </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">tipo</label>
                    <select formControlName="tipoId" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.tipoId.invalid &&
                        empresaFormGroup.controls.tipoId.touched
                    }">
                      <ng-container *ngFor="let item of listTipoId">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                    <div class="invalid-feedback"> {{ tipoIdErrorMensaje }} </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Formato impreso</label>
                    <input formControlName="formatoImp" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.formatoImp.invalid &&
                        empresaFormGroup.controls.formatoImp.touched
                    }">
                    <div class="invalid-feedback"> {{ formatoImpErrorMensaje }} </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Habilitación</label>
                    <input formControlName="empreHabilitacion" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.empreHabilitacion.invalid &&
                        empresaFormGroup.controls.empreHabilitacion.touched
                    }">
                    <div class="invalid-feedback"> {{ empreHabilitacionErrorMensaje }} </div>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Clase juridica</label>
                    <select formControlName="emprClasJuridicaId" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.emprClasJuridicaId.invalid &&
                        empresaFormGroup.controls.emprClasJuridicaId.touched
                    }">
                      <ng-container *ngFor="let item of listClasJuridica">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                    <div class="invalid-feedback"> {{ emprClasJuridicaErrorMensaje }} </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Celular</label>
                    <input formControlName="emprCelular" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.emprCelular.invalid &&
                        empresaFormGroup.controls.emprCelular.touched
                    }">
                    <div class="invalid-feedback"> {{ emprCelularErrorMensaje }} </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Días pago</label>
                    <input formControlName="emprDiasPago" type="text" class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.emprDiasPago.invalid &&
                        empresaFormGroup.controls.emprDiasPago.touched
                    }">
                    <div class="invalid-feedback"> {{ emprDiasPagoErrorMensaje }} </div>
                  </div>
                </div>

              </div>


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Observación</label>
                    <textarea formControlName="observacion" class="form-control" name="" id="" cols="30" rows="5"
                    [ngClass]="{
                      'is-invalid':
                        empresaFormGroup.controls.observacion.invalid &&
                        empresaFormGroup.controls.observacion.touched
                    }"></textarea>
                    <div class="invalid-feedback"> {{ observacionErrorMensaje }} </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="center w-100">
                  <ngx-file-drop id="drop" dropZoneLabel="" multiple="false" accept=".png, .jpg" (onFileDrop)="dropped($event)">
                      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">

                        <!-- Optional custom content that replaces the the entire default content. -->
                        <div class="dropzone__content d-flex justify-content-center align-items-center" (click)="openFileSelector()">
                          Arrastra y suelta tus archivos aquí
                        </div>
                        <!-- <button type="button" (click)="openFileSelector()">Browse Files</button> -->
                      </ng-template>
                  </ngx-file-drop>

                  <div class="pt-4" *ngIf="imagenEmpresa.length > 0">
                    <p-table [value]="imagenEmpresa">
                      <ng-template pTemplate="header">
                        <tr>
                            <th>Logo</th>
                            <th>Nombre</th>
                            <th>Tamaño</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                      <tr>
                        <td>
                          <img [src]="rowData.imagen" width="80" />
                        </td>
                        <td>
                          {{ rowData.nombre }}
                        </td>
                        <td>
                          {{ rowData.tamano }}
                        </td>
                        <td>
                          <button class="btn btn-icon btn-dark icon-detail-style" (click)="borrarImagen(rowData)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </ng-template>
                    </p-table>
                  </div>

              </div>
              </div>


          </div>

          </form>

        <ng-container *ngIf="edicionEmpresa">

          <hr />

          <div class="d-flex justify-content-end">
            <button class="btn btn-icon btn-danger" [placement]="'top'" ngbTooltip="Cancelar edición" (click)="cancelarEdicion()">
              <i class="fa fa-ban"></i>
            </button>
            <button class="btn btn-icon btn-primary ml-3" [placement]="'top'" ngbTooltip="Actualizar empresa" (click)="actualizarEmpresa()">
              <i class="fa fa-save"></i>
            </button>
          </div>

        </ng-container>

        </div>


    </app-card>
  </div>
</div>
