<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" [options]="false">

      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="empresaCollapsed = !empresaCollapsed" [attr.aria-expanded]="!empresaCollapsed" aria-controls="collapseEmpresa">
          <h5 class="font-weight-bold mb-0">Empresa</h5>
          <i class="fa" [ngClass]="{'fa-chevron-up': empresaCollapsed, 'fa-chevron-down': !empresaCollapsed }"></i>
        </div>

      </div>

        <hr>

        <div id="collapseEmpresa" [ngbCollapse]="empresaCollapsed">

          <div class="d-flex flex-row justify-content-end" *ngIf="!edicionEmpresa">
            <button class="btn btn-icon btn-primary" [placement]="'top'" ngbTooltip="Activar edición" (click)="editarForm()">
              <i class="fa fa-edit"></i>
            </button>
          </div>

          <form [formGroup]="empresaFormGroup" class="d-flex flex-column">
            <div class="col-12">

              <div class="row">

                <div class="col-md-4">

                  <div class="form-group">
                    <label for="">Nombre empresa</label>
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre empresa">
                  </div>

                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Nit</label>
                    <input formControlName="nit" type="text" class="form-control" placeholder="nit">
                  </div>

                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>DV</label>
                    <input formControlName="dv" type="text" class="form-control" placeholder="digito verificación">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Departamento</label>
                    <input formControlName="departamento" type="text" class="form-control" placeholder="Departamento">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Ciudad</label>
                    <input formControlName="ciudad" type="text" class="form-control" placeholder="Ciudad">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Dirección</label>
                    <input formControlName="direccion" type="text" class="form-control">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Teléfono</label>
                    <input formControlName="telefono" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Correo electrónico</label>
                    <input formControlName="correo" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Sitio web</label>
                    <input formControlName="paginaWeb" type="text" class="form-control">
                  </div>

                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Nombre representante legal</label>
                    <input formControlName="repLegal" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Documento representante legal</label>
                    <input formControlName="docRepLegal" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Contacto empresa</label>
                    <input formControlName="contacto" type="text" class="form-control">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Empresa CIUU</label>
                    <input formControlName="empreCiuu" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Localidad empresa</label>
                    <input formControlName="empreLocalidad" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Regimen empresa</label>
                    <select formControlName="regimenId" class="form-control">
                      <ng-container *ngFor="let item of ListRegEmpresa">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Recepción</label>
                    <input formControlName="recepcion" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Porcentaje retención ICA</label>
                    <input formControlName="porcRetIca" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Responsable fiscal</label>
                    <select formControlName="respFiscalId" class="form-control">
                      <ng-container *ngFor="let item of listRespFiscal">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Responsable tributario</label>
                    <select formControlName="respTributId" class="form-control">
                      <ng-container *ngFor="let item of listRespTributaria">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Tipo cliente</label>
                    <select formControlName="tipoClienteId" class="form-control">
                      <ng-container *ngFor="let item of listTipoCliente">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Factura contador</label>
                    <input formControlName="emprFactContador" type="text" class="form-control">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Leyenda en factura</label>
                    <input formControlName="leyEnFactura" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Leyenda en nota credito</label>
                    <input formControlName="leyEnNotaCredito" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Leyenda en noda debito</label>
                    <input formControlName="leyEnNotaDebito" type="text" class="form-control">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">tipo</label>
                    <select formControlName="tipoId" class="form-control">
                      <ng-container *ngFor="let item of listTipoId">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Formato impreso</label>
                    <input formControlName="formatoImp" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Habilitación</label>
                    <input formControlName="empreHabilitacion" type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Clase juridica</label>
                    <select formControlName="emprClasJuridicaId" class="form-control">
                      <ng-container *ngFor="let item of listClasJuridica">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Celular</label>
                    <input formControlName="emprCelular" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Días pago</label>
                    <input formControlName="emprDiasPago" type="text" class="form-control">
                  </div>
                </div>

              </div>


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Observación</label>
                    <textarea formControlName="observacion" class="form-control" name="" id="" cols="30" rows="5"></textarea>
                  </div>
                </div>
              </div>


          </div>

          </form>

        <ng-container *ngIf="edicionEmpresa">

          <hr />

          <div class="d-flex justify-content-end">
            <button class="btn btn-icon btn-danger" [placement]="'top'" ngbTooltip="Cancelar edición" (click)="cancelarEdicion()">
              <i class="fa fa-ban"></i>
            </button>
            <button class="btn btn-icon btn-primary ml-3" [placement]="'top'" ngbTooltip="Actualizar empresa" (click)="actualizarEmpresa()">
              <i class="fa fa-save"></i>
            </button>
          </div>

        </ng-container>

        </div>


    </app-card>

    <app-card [hidHeader]="true" [options]="false">

      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="sucursalCollapsed = !sucursalCollapsed" [attr.aria-expanded]="!sucursalCollapsed" aria-controls="collapseSucursal">
          <h5 class="font-weight-bold mb-0">Sucursales</h5>
          <i class="fa" [ngClass]="{'fa-chevron-up': sucursalCollapsed, 'fa-chevron-down': !sucursalCollapsed }"></i>
        </div>

      </div>

        <hr>

        <div id="collapseSucursal" [ngbCollapse]="sucursalCollapsed">

          <div class="d-flex justify-content-end m-2">
            <button class="btn btn-icon btn-primary" [placement]="'top'" ngbTooltip="Crear sucursal" (click)="abrirModalCrearSucursal()">
              <i class="fa fa-plus"></i>
            </button>
          </div>

          <p-table [columns]="colsSucursalesEmpresa" [value]="listSucursalesEmpresaObs | async" selectionMode="single" [(selection)]="seletedSucursalEmpresa" [scrollable]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th></th>
                </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr style="height:34px" [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                      <button class="btn btn-icon btn-dark icon-detail-style" [placement]="end" ngbTooltip="Ver sucursal" (click)="verSucursal(rowData)">
                        <i class="fa fa-search"></i>
                      </button>
                    </td>
                </tr>
            </ng-template>
          </p-table>

        </div>
    </app-card>

    <app-card [hidHeader]="true" [options]="false">

      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="clienteCollapsed = !clienteCollapsed" [attr.aria-expanded]="!clienteCollapsed" aria-controls="collapseCliente">
          <h5 class="font-weight-bold mb-0">Clientes</h5>
          <i class="fa" [ngClass]="{'fa-chevron-up': clienteCollapsed, 'fa-chevron-down': !clienteCollapsed }"></i>
        </div>

      </div>

        <hr>

        <div id="collapseCliente" [ngbCollapse]="clienteCollapsed">

          <div class="d-flex justify-content-end m-2">
            <button class="btn btn-icon btn-primary" [placement]="'top'" ngbTooltip="Crear cliente" (click)="editarForm()">
              <i class="fa fa-plus"></i>
            </button>
          </div>

          <p-table [columns]="colsClientesEmpresa" [value]="listClientesEmpresaObs | async" selectionMode="single" [(selection)]="seletedClientesEmpresa" [scrollable]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr style="height:34px" [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns; index as i">
                        <div *ngIf="i != 5">{{rowData[col.field]}}</div>
                        <div *ngIf="i == 5">
                          <button class="btn btn-icon btn-dark icon-detail-style" [placement]="end" ngbTooltip="Ver Cliente" (click)="verEmpleado(rowData)">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
          </p-table>

        </div>
    </app-card>


  </div>
</div>
