<app-card [hidHeader]="true" [options]="false">

  <div class="d-flex align-items-center justify-content-between" role="button">
    <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="sucursalCollapsed = !sucursalCollapsed" [attr.aria-expanded]="!sucursalCollapsed" aria-controls="collapseSucursal">
      <h5 class="font-weight-bold mb-0">Sucursales</h5>
      <i class="fa" [ngClass]="{'fa-chevron-up': sucursalCollapsed, 'fa-chevron-down': !sucursalCollapsed }"></i>
    </div>

  </div>

    <hr>

    <div id="collapseSucursal" [ngbCollapse]="sucursalCollapsed">

      <p-table [columns]="colsSucursalesEmpresa" [value]="listSucursalesEmpresaObs | async" selectionMode="single" [scrollable]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th></th>
            </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr style="height:34px" [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                  <button class="btn btn-icon btn-dark icon-detail-style" [placement]="end" ngbTooltip="Ver sucursal" (click)="verSucursal(rowData)">
                    <i class="fa fa-search"></i>
                  </button>
                </td>
            </tr>
        </ng-template>
      </p-table>

    </div>
</app-card>
