<div class="modal-header">
    <h5 class="modal-title">Crear otro producto</h5>
</div>

<div class="modal-body">
    <form [formGroup]="otroProductoFormGroup">

        <div class="col-12">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="">Código</label>
                  <input
                    formControlName="otprCodigo"
                    type="text"
                    [ngClass]="{
                      'is-invalid':
                      otroProductoFormGroup.controls.otprCodigo.invalid &&
                      otroProductoFormGroup.controls.otprCodigo.touched
                    }"
                    class="form-control">
                    <div class="invalid-feedback"> {{ otprCodigoErrorMensaje }} </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="">Nombre</label>
                  <input
                    formControlName="otprNombre"
                    type="text"
                    [ngClass]="{
                      'is-invalid':
                      otroProductoFormGroup.controls.otprNombre.invalid &&
                      otroProductoFormGroup.controls.otprNombre.touched
                    }"
                    class="form-control">
                    <div class="invalid-feedback"> {{ otprNombreErrorMensaje }} </div>
                </div>
              </div>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <div class="d-flex justify-content-end m-2">
      <button class="btn btn-icon btn-danger" [placement]="'top'" ngbTooltip="Cerrar modal" (click)="cerrarModal()">
        <i class="fa fa-ban"></i>
      </button>
      <button class="btn btn-icon btn-primary ml-3" [placement]="'top'" ngbTooltip="Guardar otro producto" (click)="guardarOtroProducto()">
        <i class="fa fa-save"></i>
      </button>
    </div>
</div>
