<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <div class="d-flex align-items-center justify-content-between" role="button">
                <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="resolucionSucursalCollapsed = !resolucionSucursalCollapsed" [attr.aria-expanded]="!resolucionSucursalCollapsed" aria-controls="collapseResolucionSucursal">
                  <h5 class="font-weight-bold mb-0">Resolución para {{nombreSucursal}} con código No. {{codigoSucursal}}</h5>
                  <i class="fa" [ngClass]="{'fa-chevron-up': resolucionSucursalCollapsed, 'fa-chevron-down': !resolucionSucursalCollapsed }"></i>
                </div>        
            </div>
            <hr>
            <div id="collapseResolucionSucursal" [ngbCollapse]="resolucionSucursalCollapsed">

                <div class="d-flex flex-row justify-content-end" *ngIf="!edicionResolucionSucursal">
                    <button class="btn btn-icon btn-primary" pTooltip="Editar" tooltipPosition="top" (click)="editarForm()">
                      <i class="fa fa-edit"></i>
                    </button>
                </div>

                <form [formGroup]="resolucionSucursalFormGroup">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Resolución</label>
                                    <select formControlName="resuResolucionId" class="form-control"
                                        [ngClass]="{
                                        'is-invalid':
                                        resolucionSucursalFormGroup.controls.resuResolucionId.invalid &&
                                        resolucionSucursalFormGroup.controls.resuResolucionId.touched
                                        }">
                                        <ng-container *ngFor="let item of listResoluciones">
                                            <option [value]="item.id">{{item.resoAnio}} - {{item.resoPrefijo}}</option>
                                        </ng-container>
                                    </select>
                                    <div class="invalid-feedback"> {{ resuResolucionIdErrorMensaje }} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <ng-container *ngIf="edicionResolucionSucursal">
                    <hr />        
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-icon btn-danger" pTooltip="Cancelar edición" tooltipPosition="left" (click)="cancelarEdicion()">
                        <i class="fa fa-ban"></i>
                      </button>
                      <button class="btn btn-icon btn-primary ml-3" pTooltip="Actualizar contrato cliente" tooltipPosition="left" (click)="guardarResolucionSucursal()">
                        <i class="fa fa-save"></i>
                      </button>
                    </div>        
                </ng-container>
            </div>
        </app-card>
    </div>
</div>
