<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <div class="d-flex align-items-center justify-content-between" role="button">
                <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="listaPrecioProductoCollapsed = !listaPrecioProductoCollapsed" [attr.aria-expanded]="!listaPrecioProductoCollapsed" aria-controls="collapseListaPrecioProducto">
                  <h5 class="font-weight-bold mb-0">Asociar productos a lista de Precios</h5>
                  <i class="fa" [ngClass]="{'fa-chevron-up': listaPrecioProductoCollapsed, 'fa-chevron-down': !listaPrecioProductoCollapsed }"></i>
                </div>
            </div>
            <hr>
            <div id="collapseListaPrecioProducto" [ngbCollapse]="listaPrecioProductoCollapsed">
                <form [formGroup]="listaPrecioFormGroup">
                    <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="">Seleccione la lista de precios</label>
                            <select formControlName="lproListaPrecioId" class="form-control" (change)="cargarProductos($event.target.value)">
                              <ng-container *ngFor="let item of listListaPrecios">
                                <option [value]="item.id">{{item.liprNombre}} ({{item.liprDescripcion}})</option>
                              </ng-container>
                            </select>
                          </div>
                        </div>
                      </div>
                </form>
                <br>
                <span>Productos Asignados</span>
                <div class="table-style">
                    <div class="d-flex justify-content-end m-2">
                        <button class="btn btn-icon btn-primary" pTooltip="Asociar Productos" tooltipPosition="left" (click)="abrirModalListaPrecioProducto()">
                          <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <p-table [columns]="colsProductosListaPrecio" [value]="listProductosListaPrecioObs | async" selectionMode="single" [scrollable]="true" [rows]="10">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                            </ng-template>
            
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr style="height:34px" [pSelectableRow]="rowData">
                              <td *ngFor="let col of columns">
                                  {{rowData[col.field]}}
                              </td>
                              <td class="text-center">
                                <button class="btn btn-icon btn-dark icon-detail-style" pTooltip="Editar Producto" tooltipPosition="left" (click)="abrirModalEditarListaPrecioProducto(rowData.id)">
                                  <i class="fa fa-edit"></i>
                                </button>
                              </td>
                              <td class="td-style">
                                <button class="btn btn-icon btn-dark icon-detail-style"  pTooltip="Eliminar producto" tooltipPosition="left" (click)="eliminarProducto(rowData.id)">
                                    <i class="fa fa-trash"></i>
                                </button>  
                              </td>
                            </tr>
                        </ng-template>
                      </p-table>
                </div>
            </div>
        </app-card>
    </div>
</div>
