<div class="row">
  <div class="col-12" *ngIf="tipoDocumento">

    <app-card [hidHeader]="true" [options]="false">

      <div class="d-flex align-items-center justify-content-between" role="button">
        <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="facturaCollapsed = !facturaCollapsed" [attr.aria-expanded]="!facturaCollapsed" aria-controls="collapseFactura">
          <h5 class="font-weight-bold mb-0">Crear factura</h5>
          <i class="fa" [ngClass]="{'fa-chevron-up': facturaCollapsed, 'fa-chevron-down': !facturaCollapsed }"></i>
        </div>

      </div>

      <hr>

      <div id="collapseFactura" [ngbCollapse]="facturaCollapsed" >

        <form [formGroup]="encabezadoFormGroup">

          <!-- <fieldset class="form-group">
            <div class="row">
              <label for="input-concepto" class="col-12 col-form-label">Documento</label>
              <div class="col-12">
                <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="concepto">
                  <label class="btn btn-primary" ngbButtonLabel>
                    <input type="radio" ngbButton value="1">
                    Comercial
                  </label>
                  <label class="btn btn-primary" ngbButtonLabel>
                    <input type="radio" ngbButton value="2">
                    Sector salud
                  </label>
                </div>
              </div>
            </div>
          </fieldset> -->

          <!-- <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="concepto">
            <label class="btn btn-prima" ngbButtonLabel><input type="radio" ngbButton name="options" id="option1" value="1" checked> Active</label>
            <label class="btn btn-secondary" ngbButtonLabel><input type="radio" ngbButton name="options" id="option2" value="2"> Radio</label>
            <label class="btn btn-secondary" ngbButtonLabel><input type="radio" ngbButton name="options" id="option3" value="3"> Radio</label>
          </div> -->

          <!-- <fieldset class="form-group">
            <div class="row">
              <label for="input-concepto" class="col-12 col-form-label">Documento</label>
              <div class="col-12">
                <div class="custom-control custom-radio custom-control-inline">
                  <input class="form-check-input" type="radio" formControlName="concepto" id="concepto-1" [value]="listaDocumento.COMERCIAL">
                  <label class="form-check-label" for="concepto-1">COMERCIAL</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input class="form-check-input" type="radio" formControlName="concepto" id="concepto-2" [value]="listaDocumento.SECTOR_SALUD">
                  <label class="form-check-label" for="concepto-2">SECTOR SALUD</label>
                </div>
              </div>
            </div>
          </fieldset> -->

          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="">Operador</label>
                <input type="text" class="form-control" formControlName="factOperador">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Fecha inicio</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="factFechaInicio" ngbDatepicker #ds="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-secondary calendar" (click)="ds.toggle()"
                      [disabled]="encabezadoFormGroup.get('factFechaInicio').disabled"
                    >
                      <i class="far fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Fecha final</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="factFechaFinal" ngbDatepicker #de="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-secondary calendar" (click)="de.toggle()"
                      [disabled]="encabezadoFormGroup.get('factFechaFinal').disabled"
                    >
                      <i class="far fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="">Número</label>
                <input type="text" class="form-control" formControlName="factNumero">
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="">Sucursal</label>
                <input type="text" class="form-control" formControlName="factSucursal">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Cufe</label>
                <input type="text" class="form-control" formControlName="factCufe">
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="">Tipo</label>
                <select class="form-control" formControlName="factTipoDocElectrId">
                  <option selected></option>
                  <ng-container *ngFor="let item of listaTipoDocElectr">
                    <option [value]="item.valor">{{item.nombre}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Formato impresión</label>
                <select class="form-control" formControlName="factFormatoImpresionId">
                  <option selected></option>
                  <ng-container *ngFor="let item of listaFormatoImpresion">
                    <option [value]="item.valor">{{item.nombre}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Orden</label>
                <input type="text" class="form-control" formControlName="factOrden">
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="">fecha</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="factFecha" ngbDatepicker #df="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-secondary calendar" (click)="df.toggle()">
                      <i class="far fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Fecha vence</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="factFechaVence" ngbDatepicker #dv="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-secondary calendar" (click)="dv.toggle()">
                      <i class="far fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Recepción</label>
                <input type="text" class="form-control" formControlName="factRecepcion">
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="">Remisión</label>
                <input type="text" class="form-control" formControlName="factRemision">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Despacho</label>
                <input type="text" class="form-control" formControlName="factDespacho">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Estado</label>
                <input type="text" class="form-control" formControlName="factEstadoOperacion">
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="">Moneda</label>
                <select class="form-control" formControlName="factMonedaId">
                  <ng-container *ngFor="let item of listaMoneda">
                    <option [value]="item.valor">{{item.codigo}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Fecha TRM</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="factFechaTrm" ngbDatepicker #dt="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-secondary calendar" (click)="dt.toggle()">
                      <i class="far fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">TRM</label>
                <input type="text" class="form-control" formControlName="factTrm">
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="">Condición de venta</label>
                <select class="form-control" formControlName="factCondicionVentaId">
                  <ng-container *ngFor="let item of listaCondicionVenta">
                    <option [value]="item.valor">{{item.nombre}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Forma pago</label>
                <select class="form-control" formControlName="factFormaPagoId">
                  <ng-container *ngFor="let item of listaFormaPago">
                    <option [value]="item.valor">{{item.nombre}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Lista precios</label>
                <select class="form-control" formControlName="factListaPreciosId">
                  <option value="0" selected>0 - Genérica</option>
                  <ng-container *ngFor="let item of []">
                    <option [value]="item.valor">{{item.nombre}}</option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="">Cliente</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="factClienteId"
                  [ngbTypeahead]="search"
                  [inputFormatter]="formatterInput"
                  [resultFormatter]="formatterResult"
                  [editable]="false"
                  (blur)="onBlurFormat()"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Vendedor</label>
                <input type="text" class="form-control" formControlName="factVendedor">
              </div>
            </div>

            <ng-container *ngIf="sectorSaludOpt">
              <div class="col-4">
                <div class="form-group">
                  <label for="">Contrato</label>
                  <input type="text" class="form-control" formControlName="factContrato">
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="sectorSaludOpt">
              <div class="col-4">
                <div class="form-group">
                  <label for="">Poliza</label>
                  <input type="text" class="form-control" formControlName="factPoliza">
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="sectorSaludOpt">
              <div class="col-4">
                <div class="form-group">
                  <label for="">Total cuota moderadora</label>
                  <input type="text" class="form-control" formControlName="factModeradora">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="">Total cuota recuperación</label>
                  <input type="text" class="form-control" formControlName="factCuotaRecupera">
                </div>
              </div>

              <div class="col-4">
                <div class="form-group">
                  <label for="">Total pago compartido</label>
                  <input type="text" class="form-control" formControlName="factCompartidos">
                </div>
              </div>
            </ng-container>

            <div class="col-4">
              <div class="form-group">
                <label for="">Tipo salud</label>
                <select class="form-control">
                  <ng-container *ngFor="let item of listaSaludTipo">
                    <option [value]="item.valor">{{item.nombre}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Clase factura</label>
                <select class="form-control">
                  <ng-container *ngFor="let item of listaClaseFactura">
                    <option [value]="item.valor">{{item.nombre}}</option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label for="">Contador</label>
                <input type="text" class="form-control" formControlName="factContador">
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-12">
              <div class="form-group">
                <label for="">Observación</label>
                <textarea class="form-control" rows="3" formControlName="factObservaciones"></textarea>
              </div>
            </div>

          </div>

        </form>

        <hr />

        <div class="d-flex justify-content-end">
          <!-- <button class="btn btn-icon btn-danger" [placement]="'top'" ngbTooltip="Guardar info" (click)="cancelarEdicion()">
            <i class="fa fa-ban"></i>
          </button> -->
          <button class="btn btn-icon btn-primary ml-3" pTooltip="Guardar info" tooltipPosition="left" (click)="guardarCabecera()">
            <i class="fa fa-save"></i>
          </button>
        </div>

      </div>

    </app-card>


    <app-card [hidHeader]="true" [options]="false">

      <div class="d-flex align-items-center justify-content-between" role="button">
        <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="detalleFacturaCollapsed = !detalleFacturaCollapsed" [attr.aria-expanded]="!detalleFacturaCollapsed" aria-controls="collapseDetalleFactura">
          <h5 class="font-weight-bold mb-0">Detalle factura</h5>
          <i class="fa" [ngClass]="{'fa-chevron-up': detalleFacturaCollapsed, 'fa-chevron-down': !detalleFacturaCollapsed }"></i>
        </div>

      </div>

      <hr>

      <div id="collapseDetalleFactura" [ngbCollapse]="detalleFacturaCollapsed">

        <div class="d-flex justify-content-start m-2">
          <button class="btn btn-icon btn-primary" pTooltip="Agregar producto" tooltipPosition="right" (click)="agregarProducto()" >
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <p-table [columns]="colsDetalleFactura" [value]="detalleFacturaObs | async" selectionMode="single" [scrollable]="true" [rows]="10">
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th *ngFor="let col of columns">
                      {{col.header}}
                  </th>
                  <!-- <th></th> -->
              </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr style="height:34px" [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <!-- <td>
                  <button class="btn btn-icon btn-dark icon-detail-style" [placement]="end" ngbTooltip="Ver producto" (click)="verProducto(rowData)">
                    <i class="fa fa-search"></i>
                  </button>
                </td> -->
              </tr>
          </ng-template>
        </p-table>

      </div>

    </app-card>

    <app-card [hidHeader]="true" [options]="false">

      <form>

        <div class="row">

          <div class="col-4">
            <div class="form-group">
              <label for="">Subtotal</label>
              <input type="text" class="form-control" formControlName="factSubtotal">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="">Descuento</label>
              <input type="text" class="form-control" formControlName="factDescGlobal">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="">Valor descuento</label>
              <input type="text" class="form-control" formControlName="factValorDescuento">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="">% IVA</label>
              <input type="text" class="form-control" formControlName="factPorcIva">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="">Valor IVA</label>
              <input type="text" class="form-control" formControlName="factTotalIva">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="">Total rete. ICA</label>
              <input type="text" class="form-control" formControlName="factTotalReteIca">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="">Total rete. Fuente</label>
              <input type="text" class="form-control" formControlName="factValTotRetefuente">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="">Valor anticipo</label>
              <input type="text" class="form-control" formControlName="factValAnticipo">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="">Total a pagar</label>
              <input type="text" class="form-control" formControlName="factValor">
            </div>
          </div>

        </div>

      </form>

    </app-card>

  </div>
</div>
