<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" [options]="false">

      <div class="d-flex align-items-center justify-content-between" role="button">
        <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="empresaCollapsed = !empresaCollapsed" [attr.aria-expanded]="!empresaCollapsed" aria-controls="collapseEmpresa">
          <h5 class="font-weight-bold mb-0">Empresa</h5>
          <i class="fa" [ngClass]="{'fa-chevron-up': empresaCollapsed, 'fa-chevron-down': !empresaCollapsed }"></i>
        </div>

      </div>

        <hr>

        <div id="collapseEmpresa" [ngbCollapse]="empresaCollapsed">


          <form [formGroup]="empresaFormGroup" class="d-flex flex-column">
            <div class="col-12">

              <div class="row">

                <div class="col-md-4">

                  <div class="form-group">
                    <label for="">Nombre empresa</label>
                    <input formControlName="emprNombre" type="text" class="form-control" placeholder="Nombre empresa">
                  </div>

                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Nit</label>
                    <input formControlName="emprNit" type="text" class="form-control" placeholder="nit">
                  </div>

                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>DV</label>
                    <input formControlName="emprDv" type="text" class="form-control" placeholder="digito verificación">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Departamento</label>
                    <input formControlName="emprDepto" type="text" class="form-control" placeholder="Departamento">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Ciudad</label>
                    <input formControlName="emprCiudad" type="text" class="form-control" placeholder="Ciudad">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Dirección</label>
                    <input formControlName="emprDireccion" type="text" class="form-control">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Teléfono</label>
                    <input formControlName="emprTelefono" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Correo electrónico</label>
                    <input formControlName="emprMail" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Sitio web</label>
                    <input formControlName="emprPagWeb" type="text" class="form-control">
                  </div>

                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Nombre representante legal</label>
                    <input formControlName="emprRepLegal" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Documento representante legal</label>
                    <input formControlName="emprIdRepLegal" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Contacto empresa</label>
                    <input formControlName="emprContacto" type="text" class="form-control">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Empresa CIUU</label>
                    <input formControlName="emprCiuu" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Localidad empresa</label>
                    <input formControlName="emprLocalidad" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Regimen empresa</label>
                    <select formControlName="emprRegimenId" class="form-control">
                      <ng-container *ngFor="let item of ListRegEmpresa">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Recepción</label>
                    <input formControlName="emprRecepcion" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Porcentaje retención ICA</label>
                    <input formControlName="emprPorcReteIca" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Responsable fiscal</label>
                    <select formControlName="emprRespFiscalId" class="form-control">
                      <ng-container *ngFor="let item of listRespFiscal">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Responsable tributario</label>
                    <select formControlName="emprRespTributId" class="form-control">
                      <ng-container *ngFor="let item of listRespTributaria">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Tipo cliente</label>
                    <select formControlName="emprTipoClienteId" class="form-control">
                      <ng-container *ngFor="let item of listTipoCliente">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Factura contador</label>
                    <input formControlName="emprFactContador" type="text" class="form-control">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Leyenda en factura</label>
                    <input formControlName="emprLeyEnFactura" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Leyenda en nota credito</label>
                    <input formControlName="emprLeyEnNotaCredito" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Leyenda en nota debito</label>
                    <input formControlName="emprLeyEnNotaDebito" type="text" class="form-control">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">tipo</label>
                    <select formControlName="emprTipoIdId" class="form-control">
                      <ng-container *ngFor="let item of listTipoId">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Formato impreso</label>
                    <input formControlName="emprFormatoImpr" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Habilitación</label>
                    <input formControlName="emprHabilitacion" type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Clase juridica</label>
                    <select formControlName="emprClasJuridicaId" class="form-control">
                      <ng-container *ngFor="let item of listClasJuridica">
                        <option [value]="item.valor">{{item.nombre}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Celular</label>
                    <input formControlName="emprCelular" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Días pago</label>
                    <input formControlName="emprDiasPago" type="emprCelular" class="form-control">
                  </div>
                </div>

              </div>


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Observación</label>
                    <textarea formControlName="emprObservaciones" class="form-control" name="" id="" cols="30" rows="5"></textarea>
                  </div>
                </div>
              </div>


          </div>

          </form>

        <ng-container>

          <hr />

          <div class="d-flex justify-content-end">
            <button class="btn btn-icon btn-primary ml-3" (click)="submitForm()" [placement]="'top'" ngbTooltip="Guardar empresa">
              <i class="fa fa-save"></i>
            </button>
          </div>

        </ng-container>

        </div>


    </app-card>

  </div>
</div>
