
<div class="modal-header">
  <h5 class="modal-title">Elegir una empresa</h5>
</div>
<div class="modal-body">

  <p-table [columns]="cols" [value]="empresas | async" selectionMode="single" [(selection)]="seletedEmpresa" [scrollable]="true" [rows]="10"
  (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr style="height:34px" [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
  </p-table>

</div>

<hr/>

<div class="d-flex justify-content-end m-3">
  <ng-container *ngIf="activarBtnCerrar">
    <button class="btn btn-icon btn-danger" [placement]="'top'" ngbTooltip="Cerrar selección" (click)="cerrarModal()">
      <i class="fa fa-ban"></i>
    </button>
  </ng-container>
  <button class="btn btn-icon btn-primary ml-3" [placement]="'top'" ngbTooltip="Seleccionar empresa" [disabled]="!botonGuardarActivo" (click)="guardarEmpresa()">
    <i class="fa fa-save"></i>
  </button>
</div>