<div class="modal-header">
    <h5 class="modal-title">Crear unidad</h5>
</div>
<div class="modal-body">

    <form [formGroup]="unidadFormGroup">

        <div class="col-12">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="">Nombre</label>
                  <input
                    formControlName="unidNombre"
                    type="text"
                    [ngClass]="{
                      'is-invalid':
                        unidadFormGroup.controls.unidNombre.invalid &&
                        unidadFormGroup.controls.unidNombre.touched
                    }"
                    class="form-control">
                    <div class="invalid-feedback"> {{ unidNombreErrorMensaje }} </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="">Código Dian</label>
                  <input
                    formControlName="unidCodigoDian"
                    type="text"
                    [ngClass]="{
                      'is-invalid':
                        unidadFormGroup.controls.unidCodigoDian.invalid &&
                        unidadFormGroup.controls.unidCodigoDian.touched
                    }"
                    class="form-control">
                    <div class="invalid-feedback"> {{ unidCodigoDianErrorMensaje }} </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="">Código</label>
                  <input
                    formControlName="unidCodigo"
                    type="text"
                    [ngClass]="{
                      'is-invalid':
                        unidadFormGroup.controls.unidCodigo.invalid &&
                        unidadFormGroup.controls.unidCodigo.touched
                    }"
                    class="form-control">
                    <div class="invalid-feedback"> {{ unidCodigoErrorMensaje }} </div>
                </div>
              </div>
            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <div class="d-flex justify-content-end m-2">
      <button class="btn btn-icon btn-danger" [placement]="'top'" ngbTooltip="Cerrar modal" (click)="cerrarModal()">
        <i class="fa fa-ban"></i>
      </button>
      <button class="btn btn-icon btn-primary ml-3" [placement]="'top'" ngbTooltip="Guardar unidad" (click)="guardarUnidad()">
        <i class="fa fa-save"></i>
      </button>
    </div>
</div>
