<div class="row">
  <div class="col-sm-12">

    <app-card [hidHeader]="true" [options]="false">

      <div class="d-flex align-items-center justify-content-between" role="button">
        <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="productoCollapsed = !productoCollapsed" [attr.aria-expanded]="!productoCollapsed" aria-controls="collapseProducto">
          <h5 class="font-weight-bold mb-0">Productos</h5>
          <i class="fa" [ngClass]="{'fa-chevron-up': productoCollapsed, 'fa-chevron-down': !productoCollapsed }"></i>
        </div>

      </div>

        <hr>

        <div id="collapseProducto" [ngbCollapse]="productoCollapsed">

          <div class="d-flex justify-content-end m-2">
            <button class="btn btn-icon btn-primary" [placement]="'top'" ngbTooltip="Crear producto"  (click)="abrirModalCrearProducto()">
              <i class="fa fa-plus"></i>
            </button>
          </div>

          <p-table [columns]="colsProducto" [value]="listProductoObs | async" selectionMode="single" [scrollable]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th></th>
                </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr style="height:34px" [pSelectableRow]="rowData">
                  <td *ngFor="let col of columns">                      
                      <ng-container *ngIf="col.header == 'Concepto'">
                        {{obtenerNombreConcepto(rowData)}}
                      </ng-container>
                      <ng-container *ngIf="col.header != 'Concepto'">
                        {{rowData[col.field]}}
                      </ng-container>
                  </td>
                  <td>
                    <button class="btn btn-icon btn-dark icon-detail-style icon-margin" [placement]="end" ngbTooltip="Ver producto" (click)="verProducto(rowData)">
                      <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-icon btn-dark icon-detail-style" [placement]="end" ngbTooltip="Ver nombre técnico" (click)="verNombreTecnico(rowData)">
                      <i class="fa fa-align-justify"></i>
                    </button>
                  </td>
                </tr>
            </ng-template>
          </p-table>

        </div>
    </app-card>

  </div>
</div>
