<div class="modal-header">
  <h5 class="modal-title">Producto</h5>
</div>
<div class="modal-body">

  <form [formGroup]="productoFormGroup">

    <div class="col-12">

      <div class="row">

        <div class="col-4">
          <div class="form-group">
            <label>Producto</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaDescripcion"
              [ngbTypeahead]="search"
              [inputFormatter]="formatterInput"
              [resultFormatter]="formatterResult"
              [editable]="false"
              (blur)="onBlurFormat()" [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaDescripcion.invalid &&
                  productoFormGroup.controls.detaDescripcion.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaDescripcionErrorMensaje }} </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Código</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaFactCodigo"
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaFactCodigo.invalid &&
                  productoFormGroup.controls.detaFactCodigo.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaFactCodigoErrorMensaje }} </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Marca</label>
            <input
              type="text"
              class="form-control"
              formControlName="marca"
            />
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-4">
          <div class="form-group">
            <label>Modelo</label>
            <input
              type="text"
              class="form-control"
              formControlName="modelo"
            />
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Orden de compra</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaOrdenCompra"
            />
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Remisión</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaRemision"
            />
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-4">
          <div class="form-group">
            <label>Unidad medida</label>
            <select class="form-control" formControlName="detaUnidadId" [ngClass]="{
              'is-invalid':
                productoFormGroup.controls.detaUnidadId.invalid &&
                productoFormGroup.controls.detaUnidadId.touched
              }">
              <ng-container *ngFor="let item of listaUnidadMedida">
                <option [value]="item.valor">{{item.nombre}}</option>
              </ng-container>
            </select>
            <div class="invalid-feedback"> {{ detaUnidadIdErrorMensaje }} </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Cantidad</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaCantidad"
              mask="0*"
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaCantidad.invalid &&
                  productoFormGroup.controls.detaCantidad.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaCantidadErrorMensaje }} </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Valor</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaValorUnitario"
              prefix="$ " mask="separator.2" thousandSeparator=","
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaValorUnitario.invalid &&
                  productoFormGroup.controls.detaValorUnitario.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaValorUnitarioErrorMensaje }} </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-4">
          <div class="form-group">
            <label>% Descuento</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaPorDescuento"
              percentInput
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaPorDescuento.invalid &&
                  productoFormGroup.controls.detaPorDescuento.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaPorDescuentoErrorMensaje }} </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>% Iva</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaPorcIva"
              percentInput
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaPorcIva.invalid &&
                  productoFormGroup.controls.detaPorcIva.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaPorcIvaErrorMensaje }} </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Valor Iva</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaIva"
              prefix="$ " mask="separator.2" thousandSeparator=","
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaIva.invalid &&
                  productoFormGroup.controls.detaIva.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaIvaErrorMensaje }} </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-4">
          <div class="form-group">
            <label>% rete. fuente</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaPorcCrf"
              percentInput
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaPorcCrf.invalid &&
                  productoFormGroup.controls.detaPorcCrf.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaPorcCrfErrorMensaje }} </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Valor rete. fuente</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaValRf"
              prefix="$ " mask="separator.2" thousandSeparator=","
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaValRf.invalid &&
                  productoFormGroup.controls.detaValRf.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaValRfErrorMensaje }} </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Valor rete. Ica</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaValReteIca"
              prefix="$ " mask="separator.2" thousandSeparator=","
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaValReteIca.invalid &&
                  productoFormGroup.controls.detaValReteIca.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaValReteIcaErrorMensaje }} </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-4">
          <div class="form-group">
            <label>Linea</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaLinea"
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaLinea.invalid &&
                  productoFormGroup.controls.detaLinea.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaLineaErrorMensaje }} </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Tipo impuesto</label>
            <select class="form-control" formControlName="detaTipoImpuestoId" [ngClass]="{
              'is-invalid':
                productoFormGroup.controls.detaTipoImpuestoId.invalid &&
                productoFormGroup.controls.detaTipoImpuestoId.touched
              }">
              <ng-container *ngFor="let item of listaTipoImpuesto">
                <option [value]="item.valor">{{item.nombre}}</option>
              </ng-container>
            </select>
            <div class="invalid-feedback"> {{ detaTipoImpuestoIdErrorMensaje }} </div>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Total</label>
            <input
              type="text"
              class="form-control"
              formControlName="detaValor"
              prefix="$ " mask="separator.2" thousandSeparator=","
              [ngClass]="{
                'is-invalid':
                  productoFormGroup.controls.detaValor.invalid &&
                  productoFormGroup.controls.detaValor.touched
                }"
            />
            <div class="invalid-feedback"> {{ detaValorErrorMensaje }} </div>
          </div>
        </div>

      </div>

    </div>

  </form>

</div>

<div class="modal-footer">
  <div class="d-flex justify-content-end m-2">
    <button class="btn btn-icon btn-danger" pTooltip="Cerrar modal" tooltipPosition="top" (click)="cerrarModal()">
      <i class="fa fa-ban"></i>
    </button>
    <button class="btn btn-icon btn-primary ml-3" pTooltip="Agregar producto" tooltipPosition="top" (click)="adicionarProducto()" >
      <i class="fa fa-save"></i>
    </button>
  </div>
</div>
