<div class="auth-wrapper">
  <div class="auth-content text-center">
    <!-- <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4"> -->
    <div class="card borderless">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3 f-w-400">Iniciar sesión</h4>

            <form [formGroup]="loginFormGroup">
              <div class="input-group mb-3">
                <input
                  type="text"
                  formControlName="usuario"
                  class="form-control"
                  [ngClass]="{'is-invalid': loginFormGroup.controls.usuario.invalid && (loginFormGroup.controls.usuario.dirty || loginFormGroup.controls.usuario.touched)}"
                  placeholder="Usuario">
                  <label
                    *ngIf="loginFormGroup.controls.usuario.invalid && (loginFormGroup.controls.usuario.dirty || loginFormGroup.controls.usuario.touched )"
                    id="validation-required-error"
                    class="error small form-text invalid-feedback text-left"
                  >
                    {{ usuarioErrorMensaje }}
                  </label>
              </div>
              <div class="input-group mb-4">
                <input
                  type="password"
                  formControlName="clave"
                  class="form-control"
                  [ngClass]="{'is-invalid': loginFormGroup.controls.clave.invalid && (loginFormGroup.controls.clave.dirty || loginFormGroup.controls.clave.touched)}"
                  placeholder="Contraseña">
                  <label
                    *ngIf="loginFormGroup.controls.clave.invalid && (loginFormGroup.controls.clave.dirty || loginFormGroup.controls.clave.touched )"
                    id="validation-required-error"
                    class="error small form-text invalid-feedback text-left"
                  >
                    {{ claveErrorMensaje }}
                  </label>
              </div>
            </form>

            <button class="btn btn-block btn-primary mb-4" (click)="onSubmit()">Ingresar</button>
            <!-- <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/auth/reset-password']" class="f-w-400">Reset</a></p>
            <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']" class="f-w-400">Signup</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
