<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <div class="d-flex align-items-center justify-content-between" role="button">
                <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="resolucionCollapsed = !resolucionCollapsed" [attr.aria-expanded]="!resolucionCollapsed" aria-controls="collapseResolucion">
                  <h5 class="font-weight-bold mb-0">Resoluciones</h5>
                  <i class="fa" [ngClass]="{'fa-chevron-up': resolucionCollapsed, 'fa-chevron-down': !resolucionCollapsed }"></i>
                </div>
              </div>
              <hr>
              <div id="collapseResolucion" [ngbCollapse]="resolucionCollapsed">
                <div class="d-flex justify-content-end m-2">
                  <button class="btn btn-icon btn-primary" pTooltip="Crear unidad" tooltipPosition="left" (click)="abrirResoluciones()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <p-table [columns]="colsResoluciones" [value]="listResolucionesObs | async" selectionMode="single" [scrollable]="true" [rows]="10">
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th *ngFor="let col of columns">
                              {{col.header}}
                          </th>
                          <th [style.width.rem]="5"></th>
                      </tr>
                      </ng-template>
        
                      <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr style="height:34px" [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        <td [style.width.rem]="5" class="text-center">
                          <button class="btn btn-icon btn-dark icon-detail-style" pTooltip="Ver resolución" tooltipPosition="left" (click)="verResolucion(rowData)">
                            <i class="fa fa-search"></i>
                          </button>
                        </td>
                        <td [style.width.rem]="5" class="text-center">
                          <button class="btn btn-icon btn-dark icon-detail-style"  pTooltip="Eliminar resolución" tooltipPosition="left">
                            <i class="fa fa-trash"></i>
                          </button>                   
                        </td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>
        </app-card>
    </div>
</div>
