<div class="modal-header">
  <h5 class="modal-title">Crear contrato para {{nombreCliente}} {{apellidoCliente}} con nit No. {{nitCliente}}</h5>
</div>
<div class="modal-body">

  <form [formGroup]="contratoClienteFormGroup">

    <div class="col-12">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Nombre contrato</label>
            <input formControlName="cosaContrato" type="text" class="form-control"
            [ngClass]="{
              'is-invalid':
                contratoClienteFormGroup.controls.cosaContrato.invalid &&
                contratoClienteFormGroup.controls.cosaContrato.touched
            }">
            <div class="invalid-feedback"> {{ cosaContratoErrorMensaje }} </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Modalidad pago</label>
            <select formControlName="cosaMopaId" class="form-control"
            [ngClass]="{
              'is-invalid':
                contratoClienteFormGroup.controls.cosaMopaId.invalid &&
                contratoClienteFormGroup.controls.cosaMopaId.touched
            }">
              <ng-container *ngFor="let item of listaModalidadPago">
                <option [value]="item.valor">{{item.nombre}}</option>
              </ng-container>
            </select>
            <div class="invalid-feedback"> {{ cosaMopaIdErrorMensaje }} </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">Póliza</label>
            <input formControlName="cosaPoliza" class="form-control"
            [ngClass]="{
              'is-invalid':
                contratoClienteFormGroup.controls.cosaPoliza.invalid &&
                contratoClienteFormGroup.controls.cosaPoliza.touched
            }">
            <div class="invalid-feedback"> {{ cosaPolizaErrorMensaje }} </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Cobertura</label>
            <select formControlName="cosaCobeId" class="form-control"
            [ngClass]="{
              'is-invalid':
                contratoClienteFormGroup.controls.cosaCobeId.invalid &&
                contratoClienteFormGroup.controls.cosaCobeId.touched
            }">
              <ng-container *ngFor="let item of listaCobertura">
                <option [value]="item.valor">{{item.nombre}}</option>
              </ng-container>
            </select>
            <div class="invalid-feedback"> {{ cosaCobeIdErrorMensaje }} </div>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
  <div class="d-flex justify-content-end m-2">
    <button class="btn btn-icon btn-danger" [placement]="'top'" ngbTooltip="Cerrar modal" (click)="cerrarModal()">
      <i class="fa fa-ban"></i>
    </button>
    <button class="btn btn-icon btn-primary ml-3" [placement]="'top'" ngbTooltip="Guardar contrato cliente" (click)="guardarContratoCliente()">
      <i class="fa fa-save"></i>
    </button>
  </div>
</div>
