<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <div class="d-flex align-items-center justify-content-between" role="button">
                <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="sucursalClienteCollapsed = !sucursalClienteCollapsed" [attr.aria-expanded]="!sucursalClienteCollapsed" aria-controls="collapseSucursalCliente">
                  <h5 class="font-weight-bold mb-0">Sucursal cliente</h5>
                  <i class="fa" [ngClass]="{'fa-chevron-up': sucursalClienteCollapsed, 'fa-chevron-down': !sucursalClienteCollapsed }"></i>
                </div>
            </div>
            <hr>
            <div id="collapseSucursalCliente" [ngbCollapse]="sucursalClienteCollapsed">
                <div class="d-flex flex-row justify-content-end" *ngIf="!edicionSucursalCliente">
                    <button class="btn btn-icon btn-primary" [placement]="'top'" ngbTooltip="Editar" (click)="editarForm()">
                      <i class="fa fa-edit"></i>
                    </button>
                </div>
                <form [formGroup]="sucursalClienteFormGroup" class="d-flex flex-column">

                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                  <label for="">Nombre</label>
                                  <input formControlName="suclNombre" type="text" class="form-control" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                  <label for="">Departamento</label>
                                  <select formControlName="suclDepto" class="form-control" (change)="cargarCiudadesDepto($event.target.value)">
                                    <ng-container *ngFor="let item of listDeptos">
                                      <option [value]="item.valor">{{item.nombre}}</option>
                                    </ng-container>
                                  </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="">Ciudad</label>
                                <select formControlName="suclCiudad" class="form-control">
                                  <ng-container *ngFor="let item of listCiudades">
                                    <option [value]="item.valor">{{item.nombre}}</option>
                                  </ng-container>
                                </select>
                               </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                  <label for="">Código</label>
                                  <input formControlName="suclCodigo" type="text" class="form-control" placeholder="Código">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                  <label for="">Contacto</label>
                                  <input formControlName="suclContacto" type="text" class="form-control" placeholder="Contacto">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                  <label for="">Correo</label>
                                  <input formControlName="suclCorreo" type="text" class="form-control" placeholder="Correo">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                  <label for="">Días pago</label>
                                  <input formControlName="suclDiasPago" type="text" class="form-control" placeholder="Días pago">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                  <label for="">Lista precio</label>
                                  <input formControlName="suclListaPrecio" type="text" class="form-control" placeholder="Lista precio">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                  <label for="">Teléfono</label>
                                  <input formControlName="suclTelefono" type="text" class="form-control" placeholder="Teléfono">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <ng-container *ngIf="edicionSucursalCliente">
                    <hr />
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-icon btn-danger" [placement]="'top'" ngbTooltip="Cancelar edición" (click)="cancelarEdicion()">
                        <i class="fa fa-ban"></i>
                      </button>
                      <button class="btn btn-icon btn-primary ml-3" [placement]="'top'" ngbTooltip="Actualizar sucursal cliente" (click)="actualizarSucursalCliente()">
                        <i class="fa fa-save"></i>
                      </button>
                    </div>
                </ng-container>

            </div>
        </app-card>

        <app-card [hidHeader]="true" [options]="false">
            <div class="d-flex align-items-center justify-content-between" role="button">
                <div class="d-flex flex-row align-items-center justify-content-between w-100" (click)="listaPreciosSucursalClienteCollapsed = !listaPreciosSucursalClienteCollapsed" [attr.aria-expanded]="!listaPreciosSucursalClienteCollapsed" aria-controls="collapsePreciosSucursalCliente">
                  <h5 class="font-weight-bold mb-0">Lista Precios</h5>
                  <i class="fa" [ngClass]="{'fa-chevron-up': listaPreciosSucursalClienteCollapsed, 'fa-chevron-down': !listaPreciosSucursalClienteCollapsed }"></i>
                </div>
            </div>
            <hr>
            <div id="collapsePreciosSucursalCliente" [ngbCollapse]="listaPreciosSucursalClienteCollapsed">

            </div>
        </app-card>
    </div>
</div>
